<div class="mt-4">
  <h1>Sản phẩm</h1>
</div>

<div class='mt-4'>
  <div class='row'>

    {{#each product}}
    <div class='col-sm-6 col-lg-3'>
      <div class='card card-product-item'>
        <a href="/products/{{this.MASP}}">
          <img class='card-img-top' src='{{this.HINHANH}}' alt='Card image cap' />
        </a>
        <form class='card-body' method="POST" action="/products/add-to-cart">
          <a href="/products/{{this.MASP}}">
            <h5 class='card-title'>{{this.TENSP}}</h5>
          </a>
          <p class='card-text'>{{this.GIABAN}}</p>
          <div class="d-flex justify-content-between">
            {{#if this.DAXOA}}
              <p class="text-danger">Sản phẩm đã bị xóa</p>
              {{else}}
              {{#if this.TON}}
                {{#if isInCart}}
                <p class="text-danger">Sản phẩm đã có trong giỏ hàng. Để thêm sản phẩm, hãy truy cập giỏ hàng của bạn và điều chỉnh số lượng</p>
                {{else}}
                <button type="submit" class='btn btn-primary'>Thêm vào giỏ hàng</button>
                {{/if}}
              {{else}}
                <p class="text-danger">Sản phẩm đã hết hàng</p>
              {{/if}}
              <input type="hidden" name="masp" value="{{this.MASP}}">
              {{#if this.TON}}
                <div>
                  <input type="number" class="form-control ml-2" value="1" min="1" max="{{this.TON}}" id="quantity" name="soluong">
                </div>
              {{/if}}
            {{/if}}
          </div>
        </form>
      </div>
    </div>
    {{/each}}

  </div>
</div>