<form class="mt-4" name="container-form" method="POST" action="/products/change-price">
  <div>
    <h3>Danh sách giá thành sản phẩm</h3>
    <button type="submit" class="btn btn-primary" id="submitButton">Thay đổi giá hàng loạt</button>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">
          Mã sản phẩm
          {{{sortable 'MASP' _sort}}}
        </th>
        <th scope="col">
          Tên sản phẩm
          {{{sortable 'TENSP' _sort}}}
        </th>
        <th scope="col">
          Giá bán
          {{{sortable 'GIABAN' _sort}}}
        </th>
        <th scope="col">
          Giá vốn
          {{{sortable 'GIAVON' _sort}}}
        </th>
        <th scope="col">
          Lợi nhuận/sp
          {{{sortable 'LOINHUAN' _sort}}}
        </th>
        <th scope="col">Lịch sử đổi giá</th>
      </tr>
    </thead>
    <tbody>
      {{#each product}}
      <tr >
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.MASP}}</td>
        <div class="form-group">
            <input type="hidden" class="form-control" value="{{this.MASP}}" id="MASP" name="masp[]"
        </div>
        <td>{{this.TENSP}}</td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" value="{{this.GIABAN}}" id="GIABAN" name="giaban[]"
            placeholder="Nhập giá bán">
          </div>
        </td>
        <td>{{this.GIAVON}}</td>
        <td>{{profit GIABAN GIAVON}}</td>
        <td>
          <a href="/me/change-price/{{this.MASP}}" class="btn btn-link">Xem</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="7" class="text-center">
          Chưa có sản phẩm nào được tạo!
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>