<form class="mt-4" name="container-form" method="POST" action="">
  <div>
    <h3>Đơn hàng của bạn</h3>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">
          Mã đơn hàng
          {{{sortable 'MADH' _sort}}}
        </th>
        <th scope="col">
          Ngày tạo
          {{{sortable 'NGAYDH' _sort}}}
        </th>
        <th scope="col">
          Thanh toán
          {{{sortable 'TRANGTHAI' _sort}}}
        </th>
        <th scope="col">
          Tổng tiền
          {{{sortable 'TONGTIEN' _sort}}}
        </th>
        <th scope="col" colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      {{#each order}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.MADH}}</td>
        <td>{{this.NGAYDH}}</td>
        <td>
          {{#if this.TRANGTHAI}}
          <i class="fa-solid fa-square-check"></i>
          {{else}}
          <i class="fa-solid fa-square-xmark"></i>
          {{/if}}
        </td>
        <td>{{this.TONGTIEN}}</td>
        <td>
          <a href="/me/order/{{this.MADH}}" class="btn btn-link">Chi tiết đơn hàng</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="6" class="text-center">
          Chưa có đơn hàng nào được tạo!
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>