<form class="mt-4" name="container-form" method="POST" action="">
  <div>
    <h3>Lịch sử thay đổi giá sản phẩm</h3>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">
          ID
          {{{sortable 'MALS' _sort}}}
        </th>
        <th scope="col">
          Mã sản phẩm
          {{{sortable 'MASP' _sort}}}
        </th>
        <th scope="col">
          Tên sản phẩm
          {{{sortable 'TENSP' _sort}}}
        </th>
        <th scope="col">
          Giá mới
          {{{sortable 'GIAMOI' _sort}}}
        </th>
        <th scope="col">
          Ngày thay đổi
          {{{sortable 'NGAYTHAYDOI' _sort}}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each history}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.MALS}}</td>
        <td>{{this.MASP}}</td>
        <td>{{this.TENSP}}</td>
        <td>{{this.GIAMOI}}</td>
        <td>{{this.NGAYTHAYDOI}}</td>
      </tr>
      {{else}}
      <tr>
        <td colspan="6" class="text-center">
          Chưa ghi nhận lần thay đổi giá nào!
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous" onclick="goToPage('previous')">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#" onclick="goToPage(1)">1</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="goToPage(2)">2</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="goToPage(3)">3</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="goToPage(4)">4</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="goToPage(5)">5</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="goToPage(6)">6</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next" onclick="goToPage('next')">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</form>