<form class="mt-4" name="container-form" method="POST" action="">
  <div>
    <h3>Chi tiết phiếu nhập</h3>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">
          ID
          {{{sortable 'ID' _sort}}}
        </th>
        <th scope="col">
          Mã sản phẩm
          {{{sortable 'MASP' _sort}}}
        </th>
        <th scope="col">
          Tên sản phẩm
          {{{sortable 'TENSP' _sort}}}
        </th>
        <th scope="col">
          Số lượng
          {{{sortable 'SOLUONG' _sort}}}
        </th>
        <th scope="col">
          Giá vốn
          {{{sortable 'GIAVON' _sort}}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each detailReceipts}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.ID}}</td>
        <td>{{this.MASP}}</td>
        <td>{{this.TENSP}}</td>
        <td>{{this.SOLUONG}}</td>
        <td>{{this.GIAVON}}</td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Chưa có đơn hàng nào được tạo!
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div>
    <h4 style="display: inline-block;">Tổng tiền nhập hàng: {{sumByField detailReceipts 'GIAVON'}}</h4>
  </div>
</form>